@font-face {
    font-family: 'IntroLightAlt';
    src: url('../fonts/roboto/Roboto-Light.eot');
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light.woff') format('woff'),
        url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Light.svg#IntroLightAlt') format('svg'),
        url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'IntroRegularAlt';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Regular.svg#IntroRegularAlt') format('svg'),
        url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBlackAlt';
    src: url('../fonts/roboto/Roboto-Black.eot');
    src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Black.woff') format('woff'),
        url('../fonts/roboto/Roboto-Black.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Black.svg#IntroBlackAlt') format('svg'),
        url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBoldAlt';
    src: url('../fonts/roboto/Roboto-Bold.eot');
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
        url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Bold.svg#IntroBoldAlt') format('svg'),
        url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroRegularItalic';
    src: url('../fonts/roboto/Roboto-LightItalic.eot');
    src: url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic.svg#IntroRegularItalic') format('svg'),
        url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NarzissTextRegular';
    src: url('../fonts/roboto/eb-garamond-v9-vietnamese_latin-regular.eot');
    src: url('../fonts/roboto/eb-garamond-v9-vietnamese_latin-regular.woff2') format('woff2'),
        url('../fonts/roboto/eb-garamond-v9-vietnamese_latin-regular.woff') format('woff'),
        url('../fonts/roboto/eb-garamond-v9-vietnamese_latin-regular.ttf') format('truetype'),
        url('../fonts/roboto/eb-garamond-v9-vietnamese_latin-regular.svg') format('svg'),
        url('../fonts/roboto/eb-garamond-v9-vietnamese_latin-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NarzissMedium';
    src: url('../fonts/roboto/EB-Garamond-Medium.eot');
    src: url('../fonts/roboto/EB-Garamond-Medium.woff2') format('woff2'),
        url('../fonts/roboto/EB-Garamond-Medium.woff') format('woff'),
        url('../fonts/roboto/EB-Garamond-Medium.ttf') format('truetype'),
        url('../fonts/roboto/EB-Garamond-Medium.svg') format('svg'),
        url('../fonts/roboto/EB-Garamond-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}