@font-face {
    font-family: 'IntroLightAlt';
    src: url('../fonts/IntroLightAlt.eot');
    src: url('../fonts/IntroLightAlt.woff2') format('woff2'),
        url('../fonts/IntroLightAlt.woff') format('woff'),
        url('../fonts/IntroLightAlt.ttf') format('truetype'),
        url('../fonts/IntroLightAlt.svg#IntroLightAlt') format('svg'),
        url('../fonts/IntroLightAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'IntroRegularAlt';
    src: url('../fonts/IntroRegularAlt.eot');
    src: url('../fonts/IntroRegularAlt.woff2') format('woff2'),
        url('../fonts/IntroRegularAlt.woff') format('woff'),
        url('../fonts/IntroRegularAlt.ttf') format('truetype'),
        url('../fonts/IntroRegularAlt.svg#IntroRegularAlt') format('svg'),
        url('../fonts/IntroRegularAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBlackAlt';
    src: url('../fonts/IntroBlackAlt.eot');
    src: url('../fonts/IntroBlackAlt.woff2') format('woff2'),
        url('../fonts/IntroBlackAlt.woff') format('woff'),
        url('../fonts/IntroBlackAlt.ttf') format('truetype'),
        url('../fonts/IntroBlackAlt.svg#IntroBlackAlt') format('svg'),
        url('../fonts/IntroBlackAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBoldAlt';
    src: url('../fonts/IntroBoldAlt.eot');
    src: url('../fonts/IntroBoldAlt.woff2') format('woff2'),
        url('../fonts/IntroBoldAlt.woff') format('woff'),
        url('../fonts/IntroBoldAlt.ttf') format('truetype'),
        url('../fonts/IntroBoldAlt.svg#IntroBoldAlt') format('svg'),
        url('../fonts/IntroBoldAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroRegularItalic';
    src: url('../fonts/IntroRegularItalic.eot');
    src: url('../fonts/IntroRegularItalic.woff2') format('woff2'),
        url('../fonts/IntroRegularItalic.woff') format('woff'),
        url('../fonts/IntroRegularItalic.ttf') format('truetype'),
        url('../fonts/IntroRegularItalic.svg#IntroRegularItalic') format('svg'),
        url('../fonts/IntroRegularItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NarzissTextRegular';
    src: url('../fonts/NarzissTextRegular.eot');
    src: url('../fonts/NarzissTextRegular.woff2') format('woff2'),
        url('../fonts/NarzissTextRegular.woff') format('woff'),
        url('../fonts/NarzissTextRegular.ttf') format('truetype'),
        url('../fonts/NarzissTextRegular.svg#NarzissTextRegular') format('svg'),
        url('../fonts/NarzissTextRegular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NarzissMedium';
    src: url('../fonts/NarzissMedium.eot');
    src: url('../fonts/NarzissMedium.woff2') format('woff2'),
        url('../fonts/NarzissMedium.woff') format('woff'),
        url('../fonts/NarzissMedium.ttf') format('truetype'),
        url('../fonts/NarzissMedium.svg#NarzissMedium') format('svg'),
        url('../fonts/NarzissMedium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}