@font-face {
    font-family: 'IntroLightAlt';
    src: url('../fonts/old/IntroLightAlt.eot');
    src: url('../fonts/old/IntroLightAlt.woff2') format('woff2'),
        url('../fonts/old/IntroLightAlt.woff') format('woff'),
        url('../fonts/old/IntroLightAlt.ttf') format('truetype'),
        url('../fonts/old/IntroLightAlt.svg#IntroLightAlt') format('svg'),
        url('../fonts/old/IntroLightAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'IntroRegularAlt';
    src: url('../fonts/old/IntroRegularAlt.eot');
    src: url('../fonts/old/IntroRegularAlt.woff2') format('woff2'),
        url('../fonts/old/IntroRegularAlt.woff') format('woff'),
        url('../fonts/old/IntroRegularAlt.ttf') format('truetype'),
        url('../fonts/old/IntroRegularAlt.svg#IntroRegularAlt') format('svg'),
        url('../fonts/old/IntroRegularAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBlackAlt';
    src: url('../fonts/old/IntroBlackAlt.eot');
    src: url('../fonts/old/IntroBlackAlt.woff2') format('woff2'),
        url('../fonts/old/IntroBlackAlt.woff') format('woff'),
        url('../fonts/old/IntroBlackAlt.ttf') format('truetype'),
        url('../fonts/old/IntroBlackAlt.svg#IntroBlackAlt') format('svg'),
        url('../fonts/old/IntroBlackAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBoldAlt';
    src: url('../fonts/old/IntroBoldAlt.eot');
    src: url('../fonts/old/IntroBoldAlt.woff2') format('woff2'),
        url('../fonts/old/IntroBoldAlt.woff') format('woff'),
        url('../fonts/old/IntroBoldAlt.ttf') format('truetype'),
        url('../fonts/old/IntroBoldAlt.svg#IntroBoldAlt') format('svg'),
        url('../fonts/old/IntroBoldAlt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroRegularItalic';
    src: url('../fonts/old/IntroRegularItalic.eot');
    src: url('../fonts/old/IntroRegularItalic.woff2') format('woff2'),
        url('../fonts/old/IntroRegularItalic.woff') format('woff'),
        url('../fonts/old/IntroRegularItalic.ttf') format('truetype'),
        url('../fonts/old/IntroRegularItalic.svg#IntroRegularItalic') format('svg'),
        url('../fonts/old/IntroRegularItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NarzissTextRegular';
    src: url('../fonts/old/NarzissTextRegular.eot');
    src: url('../fonts/old/NarzissTextRegular.woff2') format('woff2'),
        url('../fonts/old/NarzissTextRegular.woff') format('woff'),
        url('../fonts/old/NarzissTextRegular.ttf') format('truetype'),
        url('../fonts/old/NarzissTextRegular.svg#NarzissTextRegular') format('svg'),
        url('../fonts/old/NarzissTextRegular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NarzissMedium';
    src: url('../NarzissMedium.eot');
    src: url('../NarzissMedium.woff2') format('woff2'),
        url('../NarzissMedium.woff') format('woff'),
        url('../NarzissMedium.ttf') format('truetype'),
        url('../NarzissMedium.svg#NarzissMedium') format('svg'),
        url('../NarzissMedium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}